/* poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #e10;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 300px 0 300px;
    padding: 15px 30px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.navbar .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .menu a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.navbar .menu a:hover {
    color: #f00;
}

.navbar .menu a.active {
    color: #f00;
}

.navbar .menu ul {
    display: flex;
    list-style: none;
    text-align: center;
}

.navbar .menu ul li a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.navbar .menu ul li a.btn-test {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    color: #000;
    text-decoration: none;
    border: 3px solid #f00;
    transition: 0.3s;
}

.navbar .menu ul li a.btn-test:hover {
    background-color: #f00;
    color: #fff;
    transition: 0.3s;
}

.btn-test {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border: 3px solid #f00;
    transition: 0.3s;
}

.btn-test:hover {
    background-color: #f00;
    transition: 0.3s;
    color: #fff;
}

.dot {
    color: #f00;
}

@media (max-width: 1600px) {
    .navbar {
        margin: 0 200px 0 200px;
    }

    .burger-menu {
        display: block;
    }
    .navbar-pc {
        display: none;
    }
}

@media (max-width: 1200px) {
    .navbar {
        margin: 0 100px 0 100px;
    }

    .burger-menu {
        display: block;
    }
    .navbar-pc {
        display: none;
    }
}

@media (max-width: 992px) {
    .navbar {
        margin: 0 40px 0 40px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .navbar {
        margin: 0 2px 0 2px;'
        text-align: center;
    }
   
}

.burger-menu{
    text-align:right;
    position: fixed;
    right: 50px;

}

.nav-menu {
    position: fixed;
    top: 50px;
    right: 100%;
    gap:0;
    height: 100%;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    text-align: center;
    transition: 0.3s ease-in-out;
    color: #000;
    z-index: 2;
}

.nav-item
{
    color: #000;
    margin: 50px 0;
}

.nav-item a{
    color: #000;
    border-bottom: 0.5mm ridge #000;
}

.nav-item2
{
    color: #000;
    margin: 50px 0;
   
}

.nav-menu.active
{
right: 0;
}


.hero {
    margin-top: -120px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
    text-align: center;
    color: #fff;
}

.hero > .hero-content > p {
    max-width: 600px;
}

.hero {
    background-image: url('../img/hero-bg.png');
    background-size: cover;
    background-position: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #f5f5f5;
}

.counter {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    text-align: center;
}

.result-container {
    display: flex;
    align-items: baseline;
}

.counter span {
    font-size: 24px;
    font-weight: 700;
    color: #fff; 
}

.counter span#result {
    font-size: 48px;
    font-weight: 700;
    color: #f00;
}

.counter span.days {
    font-size: 24px;
    font-weight: 700;
    color: #f00;
}

// naroors


//navbar pc fix
.navbar-pc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 300px 0 300px;
    padding: 15px 30px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.navbar-pc .logo {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.navbar-pc > .nav-menu-pc {
    display: flex;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}

.navbar-pc > .nav-menu-pc > a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.navbar-pc > .nav-menu-pc > li {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.navbar-pc > .nav-menu-pc > li.nav-item-pc {
    display: block;
}

.navbar-pc > .nav-menu-pc > li.nav-item-pc > a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.navbar-pc > .nav-menu-pc > li.nav-item-pc > a:hover {
    color: #f00;
}

.navbar-pc > .nav-menu-pc > li.nav-item-pc > a.btn-test:hover {
    color: #fff;
}


.navbar-pc > .nav-menu-pc > a:hover {
    color: #f00;
}

@media (min-width: 1680px) {
    .burger-menu {
        display: none;
    }

    .nav-menu {
        display: block;
    }
}

@media (min-width: 1600px) {
    .burger-menu {
        display: none;
    }

    .nav-menu {
        display: block;
    }
}

