/* poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #e10;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 300px 0 300px;
    padding: 15px 30px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.navbar .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .menu a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.navbar .menu a:hover {
    color: #f00;
}

.navbar .menu a.active {
    color: #f00;
}

.navbar .menu ul {
    display: flex;
    list-style: none;
    text-align: center;
}

.navbar .menu ul li a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.navbar .menu ul li a.btn-test {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border: 3px solid #f00;
    transition: 0.3s;
}

.navbar .menu ul li a.btn-test:hover {
    background-color: #f00;
    color: #fff;
    transition: 0.3s;
}

.btn-test {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border: 3px solid #f00;
    transition: 0.3s;
}

.btn-test:hover {
    background-color: #f00;
    transition: 0.3s;
    color: #fff;
}

.dot {
    color: #f00;
}

@media (max-width: 1600px) {
    .navbar {
        margin: 0 200px 0 200px;
    }

    .navbar .menu {
        display: none;
    }
}

@media (max-width: 1200px) {
    .navbar {
        margin: 0 100px 0 100px;
    }
}

@media (max-width: 992px) {
    .navbar {
        margin: 0 50px 0 50px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .navbar {
        margin: 0 20px 0 20px;'
        text-align: center;
    }

    .navbar .menu {
        display: none;
    }
}

.burger-menu {
    display: none;
}

.hero {
    margin-top: -120px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
    text-align: center;
    color: #fff;
}

.hero > .hero-content > p {
    max-width: 600px;
}

.hero {
    background-image: url('../img/hero-bg.png');
    background-size: cover;
    background-position: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #f5f5f5;
}

.counter {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    text-align: center;
}

.result-container {
    display: flex;
    align-items: baseline;
}

.counter span {
    font-size: 24px;
    font-weight: 700;
    color: #fff; 
}

.counter span#result {
    font-size: 48px;
    font-weight: 700;
    color: #f00;
}

.counter span.days {
    font-size: 24px;
    font-weight: 700;
    color: #f00;
}

// naroors